.bodyContainer {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
  width: 1140px;
  margin: auto;

}