/* gray background for saveModal */
.saveModalBackground {
  /* position: absolute; */
  position: fixed;
  overflow: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(43, 41, 41, 0.6);
  z-index: 1;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* .saveInnerModalBackground {
} */

/** Save Modal **/
.modalMain {
  position: absolute;
  left: 50%;
  top: 12%;
  bottom: 12%;
  transform: translateX(-50%);
  width: 568px;
  height: 400px;
  min-height: 300px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  z-index: 2;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items:center;
  padding: 20px 0px 20px 0px;
}

.closeBtn {
  position: absolute;
  margin-left: 8px;
  border-radius: 50%;
  background: white;
  color: #222222;
  border: none;
  font: 16px;
  font-weight: 550;
  width: 32px;
  height: 32px;
}
.closeBtn:hover {
  background: rgba(172, 170, 170, 0.1)
}

.closeBtn:focus {outline:0;}

.modalTitle {
  display: flex;
  justify-content: center;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 550;
  font-size: 16px;
  color: #222222;
  margin: auto;
}

.modalSavedContentsArea {
  display: flex;
  justify-content: left;
}

.horizontalLine {
  border-top: 1px solid #fdfdfd71;
}

.savedMainPhoto {
  width: 75px;
  height: 75px;
  padding: 20px;
  border-radius: 30%;
}

.savedInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 30px
}

.anytime {
  font: 14px lightgray;
  font-family: 'Montserrat', sans-serif;
  color: #4d4b4b71;
}

.saveName {
  font: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  padding-top: 0px;
}

.createSaveBtn {
  cursor: pointer;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 14px;
  width: 500px;
  color: white;
  background-color: #1b1a1a71;
  padding: 14px 22px;
  margin-right: 12px;
  margin-top: 30px;
  border-radius: 8px;
  border-style: none;
  margin-left: 35px;
  align-items: center;
}
.createSaveBtn:focus {outline:0;}

.unsaveBtn {
  cursor: pointer;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 14px;
  width: 500px;
  color: white;
  background-color: #f18973;
  padding: 14px 22px;
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border-style: none;
  margin-left: 35px;
  align-items: center;
}
.unsaveBtn:focus {outline:0;}


/** Inner modal form **/
.innerModalMain {
  position: absolute;
  left: 50%;
  top: 12%;
  bottom: 12%;
  transform: translateX(-50%);
  width: 600px;
  height: 400px;
  min-height: 350px;
  background-color: white;
  z-index: 3;
  border-radius: 10px 10px 10px 10px;
}

.saveNameInput {
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  font-weight: 500px;
  font-size: 14px;
  /* font color */
  color: rgb(68, 67, 67);
  padding: 14px 22px;
  border-radius: 8px;
  /* change input box border color */
  border: 2px solid #55545471;
  margin: 30px 0px 5px 28px;
}
.saveNameInput:focus {outline:0;}

::placeholder {
  color: #55545471;
}

.letterLimit {
  font: 14px lightgray;
  font-family: 'Montserrat', sans-serif;
  color: #55545471;
  margin-left: 30px;
}

.innerModalCreateBtn {
  cursor: pointer;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 14px;
  width: 500px;
  color: white;
  background-color: #1b1a1a71;
  padding: 14px 22px;
  margin-right: 12px;
  margin-top: 30px;
  border-radius: 8px;
  border: none;
  margin-left: 50px;
  align-items: center;
}
.innerModalCreateBtn:focus {outline:0;}



